@charset "UTF-8";
body{
	background-color:#f1f5f9;
	font-family:verdana,Arial;
	font-size:1.2rem;
	color:#1e293b;
}
.h2,.succes{
	margin:8px 12%;
}

header{
	display:flex;
	justify-content:space-evenly;
	margin:8px 12%;
	align-items:center;
}

div{
	width:20%;
	
}
div h2{
	padding-left:0;
	border:0;
	border-radius:10px;
	transition:0.5s all;
	cursor:pointer;
	box-shadow:5px 5px 0px black;
	text-shadow:2px 2px 0px black;
	
}
div h2:hover{
	background-color:red;
	color:white;
}

nav ul{
	list-style-type:none;
	display:flex;
	justify-content:space-envenly;
}
nav ul li{
	padding:10px;
	
}
button{
	border:0;
	border-radius:10px;
	box-shadow:5px 5px 2px black;
	transition: all 0.5s ;
	padding:10px;
}
button:hover{
	transform:scale(1.2);
	background-color:black;
	color:white;
}
button a{
	color:black;
	text-decoration:none;
	font-size:1em;
	font-weight:bold;
	cursor:pointer;
	transition:0.5s all;
}
